@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;900&display=swap");

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a, button {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    /* color: #000; */
    text-decoration: none;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  /* color: #fff; */
  font-size: 16px;
  line-height: 1.7;
  font-family: "Raleway";
  font-weight: 100;
}

/* NAVIGATION */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    font-style: italic;
    color: grey;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: lightblue;
}

/* SPLASH */
.splash {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
}
  
  .splash i {
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 50px;
    color: grey;
    border-radius: 50%; }
  
  .splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
  
  h1 {
    position: relative;
    font-size: 55px;
    margin: 10px auto;
    color: #fff; 
}

  h3 {
    padding-top: 100px;
    font-size: 35px;
    font-weight: 100;
    font-style: italic;
    color: #fff;
}
  
  .page-title {
    color: grey;
    font-size: 60px;
    margin: 48px 0 0 0;
    position: relative; 
}
  
  .page-title::after {
    position: absolute;
    content: '';
    bottom: 4px;
    left: 50%;
    width: 100px;
    height: 10px;
    transform: translateX(-50%);
    background-color: #ff5e57; 
}
  
  .page-subtitle {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 18px; 
}

button {
        display: inline-block;
        background-position: 100% 0;
        background-size: 300%;
        background-color: yellow;
        color: lightgrey;
        min-width: 160px;
        margin: 24px auto 0 auto;
        padding: 16px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
}
  

/* SERVICES */

.box-services {
    flex: 0 0 33.3333%;
}

.wrapper-services {
    flex-direction: column; 
}

/*  FOOTER */
.footer {
    position: fixed;
    display: flex;
    height: 200px;
    padding: 0;
}

.wrapper-footer ul {
    display: flex; 
    justify-content:space-around;
    margin: 0;
    padding-left: 150px;
    list-style-type: none;
}

.wrapper-footer ul li a {
   color: #fff;
   height: 35px;
   width: 35px;
   background-color: #bbb;
   border-radius: 50%;
   display: flex;
   text-decoration: none;
}

ul a i {
    margin-left: 11px; 
    margin-top: 10px;
    list-style-type: none;
}

.rights {
    padding-left: 50px;
}